#home {
  background-color: #f2f3f7;
}
.name {
  font-size: 45px;
  font-weight: bold;
}
.role {
  font-size: 30px;
  font-weight: 500;
}
.button-fill {
  margin-right: 20px;
}
.button-fill a {
  text-decoration: none;
  color: inherit;
}
