.container {
  margin-top: 60px;
}

.background {
  background-color: #ff8239;
}
.secondaryBackground{
  background-color: #f6f6f6;
}
.color {
  color: #ff8239;
}
.secondaryColor{
  color: #0c0a5d;
}
.button {
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid #ff8239;
}
.title{
  font-size: 30px;
  color: #ff8239;
}

.button-fill {
  background-color: #ff8239;
  color: #ffffff;
}